*{
    margin: 0;
    padding: 0;

}

body{
    background-color:#FF8C00;
    color:#FFDEAD;
    margin: 0px;
    margin-bottom: 100px;
}

header{

background-color: #FFE4C4;
color:black;
text-align: center;
padding: 20px;
}

main{

    font-size:10;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 50px;
    width:80%;
}


